.container {
  padding-left: 20px; }

#slicer_header {
  font-size: 48px;
  text-shadow: 2px 2px 3px #777; }
  #slicer_header .gray {
    color: #77c;
    vertical-align: top; }
  #slicer_header .text {
    vertical-align: top; }
