!!! 5
%html{lang: 'en'}
  %head
    %title Slicer Remote
    %meta{ :name => "viewport",
      :content => "width=device-width, initial-scale=1" }

    %link{ :rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" }
    // %link{ :rel => "stylesheet", :href => "css/application.css" }
    %script{ :src => "http://code.jquery.com/jquery-1.6.4.min.js" }
    %script{ :src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" }
  %body
    #page1{ "data-role" => "page", "data-title" => "3D Slicer Remote Control" }

      #sliceModeBar{ "data-role" => "navbar",
        "data-iconpos" => "top", :selected => 'Axial' }
        %ul
          %li
            %a.ui-btn-active#Axial{ :href => "#page1",
              "data-theme" => "", "data-icon" => "" }
              Axial
          %li
            %a#Sagittal{ :href => "#page1",
              "data-theme" => "", "data-icon" => "" }
              Sagittal
          %li
            %a#Coronal{ :href => "#page1",
              "data-theme" => "", "data-icon" => "" }
              Coronal
          %li
            %a#ThreeD{ :href => "#page1",
              "data-theme" => "", "data-icon" => "" }
              ThreeD

      :css
        #touchViewContainer, #touchViewContainer_2 {
          border: 1px solid #00c;
          width: 512px;
          color: black;
        }
        canvas {
          width: 512px;
          color: black;
        }
        .ui-bar {
          height: 24px;
        }
        #log {
          width: 200px;
          height: 200px;
          border: 1px solid red;
          position: absolute;
          top: 0px;
          left: 0px;
        }
        #page1 {
          position: relative;
        }

      .ui-grid-a
        .ui-block-a
          #touchViewContainer
            .ui-bar.ui-bar-d
              Pre-op acquisition
            %canvas#touchView
        .ui-block-b
          #touchViewContainer_2
            .ui-bar.ui-bar-e
              Intra-op acquisition
            %canvas#touchView_2

    #log

    %script{ :src => "touchVolumes.js" }
    %script{ :src => "touchNav.js" }
    %script{ :src => "touchView.js" }

