!!! 5
%html{lang: 'en'}
  %head
    %title Slicer Web Server
    %link{ :rel => "stylesheet", :href => "stylesheets/application.css" }
    %link{ :rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" }
    %script{ :src => "http://code.jquery.com/jquery-1.6.4.min.js" }
    %script{ :src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" }
  %body
    %h1 Slicer Web Server
    %ul
      %li.page Remote View
      %li.page1 Diffusion Demo
      %li.page2 Editing Demo
